---
// import { Icon } from "astro-icon";
import Layout from "../../layouts/Layout.astro";
import Top from "../../components/Top.astro";
import Menu from "../../components/Menu.astro";
import Footer from "../../components/Footer.astro";
import PlantillasProcedimientos from "../../components/cardProdecimientos/PlantillasProcedimientos.astro";
import MenuMobil from "../../components/MenuMobil.astro";
---

<Layout title="Dr Henry Aguirre | Cirugía Reconstructiva">
  <main>
    <header id="hero">
      <div class="promo">
        <Top />

        <div class="bg_header__fondo animate-fade animate-duration-[900ms]">
          <div class="">
            <div
              class="contenedor mx-auto py-10 flex items-center justify-center"
            >
              <a href="/">
                <img
                  class="inline-block"
                  width="250"
                  src="/img/logodrvertical.svg"
                  alt="Logo"
                />
              </a>
            </div>

            <div class="lg:hidden">
              <MenuMobil />
            </div>
            <div class="color__back__menu hidden lg:block">
              <div
                class="contenedor mx-auto flex justify-center items-center h-16"
              >
                <div class="">
                  <Menu />
                </div>
              </div>
            </div>
          </div>
          <div class="back__procedmientos">
            <div
              class="contenedor mx-auto flex flex-col justify-center items-center py-20"
            >
              <h2 class="text-4xl sm:text-5xl">Cirugía Reconstructiva</h2>
              <p class="text-sm text-center text-[#323756] sm:text-lg">
                La rinoplastia es una cirugía en la <br /> que se modifica la
                forma de la nariz
              </p>
            </div>
          </div>
        </div>
      </div>

    <!-- 
      <video muted autoplay loop>
        <source src="../../img/videoback2.mp4" type="video/mp4" />
      </video>

    -->


      <div class="capa"></div>
    </header>

    <section class="">

      <section class="contenedor__textos mx-auto my-20 px-5 md:flex">
        <div class="p-4 content-center">
          <p class="sm:text-7xl text-6xl cambio__fuente__fina text-[#323756] mb-5">
            Cirugía Reconstructiva
          </p>
          <p class="mb-5">
            La cirugía plástica y reconstructiva es una parte de la especialidad que difiere un poco de la cirugía estética, que se utiliza cuando no hay patología, para mejorar la estética de alguna parte del cuerpo.
          </p>
          <p class="mb-5">
            La cirugía reconstructiva forma parte de la cirugía plástica, reparadora y estética, y es el tratamiento de casos en los cuales prima más la reconstrucción que la estética.
          </p>
        </div>
      
        <video muted autoplay loop controls class="w-[auto] h-[650px] items-center">
          <source src="../../img/Cirugia-Reconstructiva-Dr-Henry-Aguirre.webm" type="video/mp4"/>
        </video>
      
      </section>

        <PlantillasProcedimientos

        description3="¿En qué se diferencia la cirugía reconstructiva de la cirugía plástica y estética?"
        description4="Permite brindar la mejoría estética."
        description5="Remodelar cuerpos para hacerlos más hermosos."
        description6="Gana más confianza y seguridad en ti."
        description7="Recupera la seguridad y confianza en ti."
        imgRecupera="/img/photo_4987776475130342589_y-1.webp"

        srcCasosUno="/img/DSC_0287.webp"
        dataCasosUno="/img/DSC_0287.webp"
        descrCasosUno="Imagen de Cirugia"
        srcCasosDos="/img/DSC_0295.webp"
        dataCasosDos="/img/DSC_0295.webp"
        descrCasosDos="Imagen de Cirugia"
        srcCasosTres="/img/DSC_0302.webp"
        dataCasosTres="/img/DSC_0302.webp"
        descrCasosTres="Imagen de Cirugia"
        srcCasosCuatro="/img/DSC_0305.webp"
        dataCasosCuatro="/img/DSC_0305.webp"
        descrCasosCuatro="Imagen de Cirugia"
        srcCasosCinco="/img/DSC_0287.webp"
        dataCasosCinco="/img/DSC_0287.webp"
        descrCasosCinco="Imagen de Cirugia"
      />


    </section>

    <footer>
      <Footer />
    </footer>
  </main>
</Layout>

<style>

.contenedor__textos {
    max-width: 1000px;
  }

  /*
  #hero {
    position: relative;
  }

  .promo {
    position: relative;
    z-index: 2;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.5;
    mix-blend-mode: luminosity;
  } */

  .color__back__menu {
    border-top: 0.9px solid #e8f1ffd7;
    border-bottom: 0.9px solid #e8f1ffd7;

    /* background-color: #e8f1ff75; */
  }

  .bg_header__fondo {
  background-image: url(../../img/cropped-view-of-plastic-surgeon-touching-naked-wom-2023-09-27-21-32-01-utc.avif);
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 2000px rgba(248, 250, 252, 0.5);

    /*
  background-image: linear-gradient(
      to right top,
      #d6dae0,
      #ccd0d7,
      #c2c7ce,
      #b8bdc6,
      #aeb4bd,
      #aeb4bd,
      #aeb4bd,
      #aeb4bd,
      #b8bdc6,
      #c2c7ce,
      #ccd0d7,
      #d6dae0
    );
    border-bottom: 1px solid #eaeaea;*/
  } 
</style>
