---
// import { Icon } from "astro-icon";
import Layout from "../../layouts/Layout.astro";
import Top from "../../components/Top.astro";
import Menu from "../../components/Menu.astro";
import Footer from "../../components/Footer.astro";
import PlantillasProcedimientos from "../../components/cardProdecimientos/PlantillasProcedimientos.astro";
import MenuMobil from "../../components/MenuMobil.astro";
---

<Layout title="Dr Henry Aguirre | Estética de Orejas">
  <main>
    <header id="hero">
      <div class="promo">
        <Top />

        <div class="bg_header__fondo animate-fade animate-duration-[900ms]">
          <div class="">
            <div
              class="contenedor mx-auto py-10 flex items-center justify-center"
            >
              <a href="/">
                <img
                  class="inline-block"
                  width="250"
                  src="/img/logodrvertical.svg"
                  alt="Logo"
                />
              </a>
            </div>

            <div class="lg:hidden">
              <MenuMobil />
            </div>
            <div class="color__back__menu hidden lg:block">
              <div
                class="contenedor mx-auto flex justify-center items-center h-16"
              >
                <div class="">
                  <Menu />
                </div>
              </div>
            </div>
          </div>
          <div class="back__procedmientos">
            <div
              class="contenedor mx-auto flex flex-col justify-center items-center py-20"
            >
              <h2 class="text-4xl sm:text-5xl">Estética de Orejas</h2>
              <p class="text-sm text-center text-[#323756] sm:text-lg">
                La rinoplastia es una cirugía en la <br /> que se modifica la
                forma de la nariz
              </p>
            </div>
          </div>
        </div>
      </div>

      <video muted autoplay loop>
        <source src="../../img/videoback2.mp4" type="video/mp4" />
      </video>

      <div class="capa"></div>
    </header>

    <section>
      <PlantillasProcedimientos
        titulo="Estética de Orejas"
        description1="La otoplastia es la cirugía que se realiza para reposicionar las orejas prominentes  a una posición más normal, más pegadas a la cabeza, o para reducir el tamaño de las orejas grandes."
        description2="Frecuentemente el paciente puede manifiestar que sus orejas son demasiado grandes y desproporcionadas con el resto de sus facciones."

        description3="Mejora el aspecto de tus orejas"
        description4="Se trata de un procedimiento seguro."
        description5="No envuelve apenas riesgos para el paciente."
        description6="Aumenta la autoestima y mejora la situación emocional del paciente."
        description7="Recupera la seguridad y confianza en ti."
        imgRecupera="/img/Tipos-de-otoplastia.avif"

        srcCasosUno="/img/WhatsApp-Image-2023-09-21-at-19.54.25-scaled.webp"
        dataCasosUno="/img/WhatsApp-Image-2023-09-21-at-19.54.25-scaled.webp"
        descrCasosUno="Imagen de Cirugia"
        srcCasosDos="/img/WhatsApp-Image-2023-09-21-at-19.54.25-scaled.webp"
        dataCasosDos="/img/WhatsApp-Image-2023-09-21-at-19.54.25-scaled.webp"
        descrCasosDos="Imagen de Cirugia"
        srcCasosTres="/img/WhatsApp-Image-2023-09-21-at-19.54.25-scaled.webp"
        dataCasosTres="/img/WhatsApp-Image-2023-09-21-at-19.54.25-scaled.webp"
        descrCasosTres="Imagen de Cirugia"
        srcCasosCuatro="/img/WhatsApp-Image-2023-09-21-at-19.54.25-scaled.webp"
        dataCasosCuatro="/img/WhatsApp-Image-2023-09-21-at-19.54.25-scaled.webp"
        descrCasosCuatro="Imagen de Cirugia"
        srcCasosCinco="/img/WhatsApp-Image-2023-09-21-at-19.54.25-scaled.webp"
        dataCasosCinco="/img/WhatsApp-Image-2023-09-21-at-19.54.25-scaled.webp"
        descrCasosCinco="Imagen de Cirugia"
      />
    </section>

    <footer>
      <Footer />
    </footer>
  </main>
</Layout>

<style>
  #hero {
    position: relative;
  }

  .promo {
    position: relative;
    z-index: 2;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.5;
    mix-blend-mode: luminosity;
  }

  .color__back__menu {
    border-top: 0.9px solid #e8f1ffd7;
    border-bottom: 0.9px solid #e8f1ffd7;

    /* background-color: #e8f1ff75; */
  }

  .bg_header__fondo {
    /* background-image: url(../../img/topless-lady-covering-breast-with-hand-after-breas-2023-11-25-02-53-07-utc.jpg);
  background-size: cover;
  background-position: top;
  box-shadow: inset 0 0 0 2000px rgba(248, 250, 252, 0.5); */

    /*
  background-image: linear-gradient(
      to right top,
      #d6dae0,
      #ccd0d7,
      #c2c7ce,
      #b8bdc6,
      #aeb4bd,
      #aeb4bd,
      #aeb4bd,
      #aeb4bd,
      #b8bdc6,
      #c2c7ce,
      #ccd0d7,
      #d6dae0
    );
    border-bottom: 1px solid #eaeaea; */
  }
</style>
