---
// import { Icon } from "astro-icon";
import Layout from "../../layouts/Layout.astro";
import Top from "../../components/Top.astro";
import Menu from "../../components/Menu.astro";
import Footer from "../../components/Footer.astro";
import PlantillasProcedimientos from "../../components/cardProdecimientos/PlantillasProcedimientos.astro";
import MenuMobil from "../../components/MenuMobil.astro";
---

<Layout title="Dr Henry Aguirre | Mamoplastia">
  <main>
    <header id="hero">
      <div class="promo">
        <Top />

        <div class="bg_header__fondo animate-fade animate-duration-[900ms]">
          <div class="">
            <div
              class="contenedor mx-auto py-10 flex items-center justify-center"
            >
              <a href="/">
                <img
                  class="inline-block"
                  width="250"
                  src="/img/logodrvertical.svg"
                  alt="Logo"
                />
              </a>
            </div>

            <div class="lg:hidden">
              <MenuMobil />
            </div>
            <div class="color__back__menu hidden lg:block">
              <div
                class="contenedor mx-auto flex justify-center items-center h-16"
              >
                <div class="">
                  <Menu />
                </div>
              </div>
            </div>
          </div>
          <div class="back__procedmientos">
            <div
              class="contenedor mx-auto flex flex-col justify-center items-center py-20"
            >
              <h2 class="text-4xl sm:text-5xl">Mamoplastia</h2>
              <p class="text-sm text-center text-[#323756] sm:text-lg">
                La rinoplastia es una cirugía en la <br /> que se modifica la
                forma de la nariz
              </p>
            </div>
          </div>
        </div>
      </div>

    <!-- 
      <video muted autoplay loop>
        <source src="../../img/videoback2.mp4" type="video/mp4" />
      </video>

    -->

      <div class="capa"></div>
    </header>

    <section>
      <PlantillasProcedimientos
        titulo="Mamoplastia"
        description1="La mamoplastia es un conjunto de técnicas quirúrgicas que tienen como objetivo dar forma, remodelar, reconstruir y, en definitiva, modelar la mama de la paciente en cualquiera de sus modalidades: aumento, reducción, levantamiento y reconstrucción, conservando siempre su morfología natural."
        description2="Este procedimiento quirúrgico puede ser de aumento, si la técnica quirúrgica está encaminada a lograr un aumento de volumen mamario a través de implantes, o una mamoplastia de reducción, si se trata de modificar el tamaño mamario de la paciente mediante la eliminación del tejido graso, mamario y la piel."

        description3="Logra una armonía entre tus pechos y tu cuerpo"
        description4="Resultados altamente satisfactorios."
        description5="Simetrías perfectas en ambas mamas."
        description6="Gana más confianza y seguridad en ti."
        description7="Pezones simétricos y volumen perfecto."
        imgRecupera="/img/Captura-de-Pantalla-2023-10-17-a-las-11.05.30.webp"

        srcCasosUno="/img/imgac22nero.avif"
        dataCasosUno="/img/imgac22nero.avif"
        descrCasosUno="Imagen de Cirugia"
        srcCasosDos="/img/DSC_0295.webp"
        dataCasosDos="/img/DSC_0295.webp"
        descrCasosDos="Imagen de Cirugia"
        srcCasosTres="/img/DSC_0302.webp"
        dataCasosTres="/img/DSC_0302.webp"
        descrCasosTres="Imagen de Cirugia"
        srcCasosCuatro="/img/DSC_0305.webp"
        dataCasosCuatro="/img/DSC_0305.webp"
        descrCasosCuatro="Imagen de Cirugia"
        srcCasosCinco="/img/DSC_0287.webp"
        dataCasosCinco="/img/DSC_0287.webp"
        descrCasosCinco="Imagen de Cirugia"
      />
    </section>


    <section>
      <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 ">
        <div class="">
          <img class="object-cover w-full h-[40rem]" src="/img/photo_5035101860771508593_y.jpg" alt="Imagen">
        </div>
        <div class="">
          <img class="object-cover w-full h-[40rem]" src="/img/photo_5035101860771508594_y.jpg" alt="Imagen">
        </div>
        <div class="">
          <img class="object-cover w-full h-[40rem]" src="/img/photo_5035101860771508595_y.jpg" alt="Imagen">
        </div>
    </section>

    <footer>
      <Footer />
    </footer>
  </main>
</Layout>

<style>
  #hero {
    position: relative;
  }

  .promo {
    position: relative;
    z-index: 2;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.5;
    mix-blend-mode: luminosity;
  }

  .color__back__menu {
    border-top: 0.9px solid #e8f1ffd7;
    border-bottom: 0.9px solid #e8f1ffd7;

    /* background-color: #e8f1ff75; */
  }

  .bg_header__fondo {
  background-image: url(../../img/topless-lady-covering-breast-with-hand-after-breas-2023-11-25-02-53-07-utc.avif);
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 2000px rgba(248, 250, 252, 0.5);

    /*
  background-image: linear-gradient(
      to right top,
      #d6dae0,
      #ccd0d7,
      #c2c7ce,
      #b8bdc6,
      #aeb4bd,
      #aeb4bd,
      #aeb4bd,
      #aeb4bd,
      #b8bdc6,
      #c2c7ce,
      #ccd0d7,
      #d6dae0
    );
    border-bottom: 1px solid #eaeaea;*/
  } 
</style>
