

<div class="bg-[#E8F1FF] grid grid-cols-1 lg:grid-cols-2">
  <div class="imagen__dr">
    <img src="/img/imagenhenry.avif" alt="Imagen Dr Henrry">
  </div>
  <div class="flex justify-center flex-col p-10 md:p-20 xl:p-32 lg:p-40">
    <h2 class="leading-3 text-2xl lg:text-5xl"> Dr. Henry Aguirre</h2>
    <p class="text-[#323756] tracking-widest mb-10">CIRUGÍA PLÁSTICA, ESTÉTICA Y RECONSTRUCTIVA</p>
    <p>Soy Médico Cirujano graduado en la Universidad Nacional de Loja y especializado en Cirugía Plástica Estética y Reconstructiva en la Universidad de Guayaquil.</p>
  
    <div class="grid grid-cols-3 gap-5 max-w-sm place-content-center">
      <div>
        <img class="inline-block" src="/img/logo1_scpre.png" width="100" alt="Logo">
      </div>
      <div>
        <img class="inline-block" src="/img/logo2_opera.png" width="100" alt="Logo">
      </div>
      <div>
        <img class="inline-block" src="/img/logo3_file.png" width="100" alt="Logo">
      </div>
    </div>

    <div class="mt-5">
    
      <a href="/quienes-somos" class="rounded px-5 py-2.5 overflow-hidden group bg-blue-500 relative hover:bg-gradient-to-r hover:from-blue-500 hover:to-blue-400 text-white hover:ring-2 hover:ring-offset-2 hover:ring-blue-400 transition-all ease-out duration-300">
        <span class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white opacity-10 rotate-12 group-hover:-translate-x-40 ease"></span>
        <span class="relative">Más Información</span>
        </a>

    </div>
  </div>

</div>

<style lang="scss">

    .imagen__dr{

      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

    }

</style>
