---
import { Icon } from 'astro-icon/components'
---

<div class="bg-white py-20">
    <div class="flex items-center justify-center flex-col">
        <img src="/img/logodrvertical.svg" width="200" alt="Logo">
        <div class="flex mt-10">
            <a 
            href="https://www.facebook.com/dr.henryaguirre" target="_blank">
                <Icon name="tabler:brand-facebook" class="w-6 text-[#005d99] hover:text-[#3ca9d2] transition-all">;
            </a>
            <a href="https://www.tiktok.com/@drhenryaguirre" target="_blank">
                <Icon name="tabler:brand-tiktok" class="w-6 text-[#005d99] hover:text-[#3ca9d2] transition-all">;
            </a>
            <a href="https://twitter.com/drhenryaguirre" target="_blank">
                <Icon name="tabler:brand-twitter" class="w-6 text-[#005d99] hover:text-[#3ca9d2] transition-all">;
            </a>
            <a href="https://www.instagram.com/drhenryaguirre/" target="_blank">
                <Icon name="tabler:brand-instagram" class="w-6 text-[#005d99] hover:text-[#3ca9d2] transition-all">;
            </a>
            <a href="https://www.linkedin.com/company/dr-henry-aguirre/" target="_blank">
                <Icon name="tabler:brand-linkedin" class="w-6 text-[#005d99] hover:text-[#3ca9d2] transition-all">;
            </a> 
            <a href="https://wa.link/cd8tat" target="_blank">
                <Icon name="tabler:brand-whatsapp" class="w-6 text-[#005d99] hover:text-[#3ca9d2] transition-all">;
            </a> 
            
        </div>
    </div>
</div>

<div class="bg-white border__arriba px-5" >
    <div class="contenedor mx-auto flex h-10 items-center justify-between">
        <p class="text-[#323756] text-sm hidden md:block">CONOCE EL SIGNIFICADO DE CALIDAD INSUPERABLE</p>
        <p class="text-[#323756] text-sm text-center">© 2014 – 2024. Todos los derechos reservados. servistream.net</p>
    </div>

</div>

<style lang="scss">
    a {
        margin-right: 1rem;
    }
    .border__arriba{
        border-top: 1px solid #eaeaea;
    }
</style>